body{
    overflow: hidden;
}

/* 
                    COLORS
*/

:root{
    --orange: #FF8F00;
    --blue: #051E34;
    --gray: #5B5858;
    --cyan: #1B72E8;
    --light-blue :#165BBA;
}


/* 
                    HEADER
*/

header{
    position: sticky;
    top: 0;
    left: 0;
}

.my-header-container{
    height: 80px;
}

.mobile-logo{
    height: 50px;
}

.desktop-logo{
    height: 30px;
}

.bi-bell-fill{
    color: var(--orange);
}

input[type=search]{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button{
    color: var(--gray);
    width: 40px;
}

/* 
                    MAIN
*/

main{
    height: calc(100vh - 80px);
}

/* 
            ASIDE
*/

.my-aside{
    position: fixed;
    top: 80px;
    left: 0;
    width: 70px;
    height: calc(100vh - 80px);
    background-color: var(--blue);
    background-image: url(../img/sidebar-bg.png);
}

.settings{
    display: flex;
    align-items: flex-end;
}

.up-aside,
.down-aside{
    width: 100%;
}

.my-aside a{
    width: 100%;
}

.my-aside a > i{
    width: 40px;
}

/* 
            MAIN SECTION
*/

.main-section{
    width: calc(100% - 70px);
    float: right;
}

/* 
    UPPER SECTION
*/


.my-upper-main{
    background-color: #1B72E8;
}

.plus{
    width: 40px;
    height: 40px;
}

.desc{
    background-color: var(--light-blue);
}

.plan{
    min-width: 30px;
}

.boolean-plus{
    width: 20px;

}


/* 
                    FOOTER
*/



/* 
                    DEBUG
*/


/* 
                    RESPONSIVE
*/

@media screen and (min-width: 1200px) {
    .my-aside{
        width: 140px;
    }

    .main-section{
        width: calc(100% - 140px);
    }

    .my-upper-main .w-100{
        max-width: 50%;
    }

    .main-section{
        width: calc(100% - 140px);
    }
}