body{
    overflow-x: hidden;
}

/* 
                    COLORS
*/

:root{
    --orange: #FF8F00;
    --blue: #051E34;
    --gray: #5B5858;
    --cyan: #1B72E8;
    --light-blue :#165BBA;
    --bg-code: #F26551;
}


/* 
                    HEADER
*/

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

.my-header-container{
    height: 80px;
}

.mobile-logo{
    height: 50px;
}

.desktop-logo{
    height: 30px;
}

.bi-bell-fill{
    color: var(--orange);
}

input[type=search]{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button{
    color: var(--gray);
    width: 40px;
}

/* 
                    MAIN
*/

main{
    height: calc(100vh - 80px);
    display: flex;
}

/* 
            ASIDE
*/

aside{
    overflow: hidden;
}

.my-aside{
    width: 70px;
    height: calc(100vh - 80px);
    background-color: var(--blue);
    background-image: url(../img/sidebar-bg.png);
}

.settings{
    display: flex;
    align-items: flex-end;
}

.up-aside,
.down-aside{
    width: 100%;
}

.my-aside a{
    width: 80%;
    margin: auto;
    padding: 5px;
    transition: all 0.2 ease-in-out;
}

.my-aside a:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

/* 
            MAIN SECTION
*/

.main-section{
    width: calc(100% - 70px);
    overflow-y: auto;
    height: calc(100vh - 80px);

}

/* 
    UPPER SECTION
*/

.my-upper-main{
    background-color: #1B72E8;
}

.plus{
    width: 40px;
    height: 40px;
}

.desc{
    background-color: var(--light-blue);
}

/* 
    LOWER SECTION
*/

/* 
    PROSSIME CLASSI
*/

.card{
    width: 100%;
    max-height: 500px;
}

.card table tr{
    line-height: 22px;
}

.my-circle{
    width: 30px;
}

.action{
    width: 25px;
}

.state{
    max-width: 50px;
    font-size: 12px;
}


/* 
    F.A.Q.
*/

.my-lower-main .faq .fa-chevron-up{
    transition: all 0.1s ease-in-out;
}

.my-lower-main .faq a:focus .fa-chevron-up{
    transform: rotate(180deg);
}

/* 
                    RESPONSIVE
*/

@media screen and (min-width: 992px) {
    .my-aside{
        width: 140px;
    }

    .main-section{
        width: calc(100% - 140px);
    }

    .my-upper-main > .row{
        flex-wrap: none;
    }

    .my-upper-main .w-100{
        max-width: 50%;
    }

    .main-section{
        width: calc(100% - 140px);
    }
}